.about {
  @include flex(flex-start, center, column);
  gap: 22px;
  padding: 40px 0;
}

.about__header {
  width: $container-mobile;
}

.about__title {
  @include title(32px, 600, 32px, $color-primary);
  text-transform: none;
  margin: 0 0 12px;
}

.about__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.about__content {
  width: $container-mobile;
}

.about__video {
  position: relative;
  width: 320px;
  height: 170px;

  iframe {
    display: block;
    width: 100%;
    height:100%;
  }

  .about__poster {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
  }
}

.about__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 52px;
  height: 52px;
  background-image: $bg-button-play;
  outline: 2px solid rgba(237, 2, 51, 0.2);
  outline-offset: 10px;
}

.about__video-icon {
  width: 12px;
  height: 12px;

  svg {
    width: 100%;
    height: 100%;
  }
}
