.button {
  @include flex(center, center);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &--round {
    border-radius: 50%;
  }

  &--primary-dark-bg {
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $color-white;
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;

    &:hover {
      color: #103aae;
      background-color: $color-white;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: #103aae;
      background-color: rgba(255, 255, 255, 0.8);
      border-color: #000000;
    }

    &:active {
      color: $color-primary;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  &--primary-blue-bg {
    font-size: 12px;
    line-height: 12px;
    color: $color-primary;
    text-transform: uppercase;
    padding: 27px 0;
    width: 100%;
    outline: 2px solid $color-primary;
    outline-offset: -2px;

    &:hover {
      color: $color-white;
      background-image: $bg-button-play;
      outline: none;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: $color-white;
      background-image: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
      ;
      outline: 2px solid #000000;
      outline-offset: -2px;
    }

    &:active {
      color: rgba(255, 255, 255, 0.7);
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
