.button {
  @include flex(center, center);
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  &--round {
    border-radius: 50%;
  }

  &--primary-dark-bg {
    color: $color-white;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $color-white;
    transition-property: color, background-color, border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;

    &:hover {
      color: #103aae;
      background-color: $color-white;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      color: #103aae;
      background-color: rgba(255, 255, 255, 0.8);
      border-color: #000000;
    }

    &:active {
      color: $color-primary;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}
