.faq-tabs {
  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: 260px 860px;
    column-gap: 40px;
  }
}

.faq-tabs__nav {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 10px;
  margin-bottom: 35px;

  @media (min-width: $vp-tablet) {
    grid-template-columns: repeat(4, 162px);
    margin-bottom: 45px;
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: 260px;
    row-gap: 10px;
    margin-bottom: 0;
    height: min-content;
  }
}

.faq-tabs__button {
  @include flex(center, center);

  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color-primary;
  text-align: center;
  padding: 15px;
  width: 100%;
  outline: 1px solid rgba(16, 38, 84, 0.2);
  outline-offset: -1px;
  cursor: pointer;

  &--active {
    color: $color-white;
    background-image: $bg-button-play;
    outline: none;
  }


  &:hover {
    outline-color: $color-primary;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid $color-primary;
    outline-offset: -1px;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: $vp-tablet) {
    font-size: 18px;
    line-height: 18px;
    padding: 18px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 19px 0 17px;
  }
}

.faq-tabs__content-wrapper {
  position: relative;

  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #74819c;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $vp-desktop) {
    margin-top: -1px;

    &::after {
      bottom: -1px;
    }
  }
}
