.faq {
  @include flex(flex-start, center, column);

  padding: 70px 0;
  background-color: $bg-secondary;

  @media (min-width: $vp-tablet) {
    padding: 60px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 100px 0;
  }
}

.faq__wrapper {
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
  }

  @media (min-width: $vp-desktop) {
    width: $container-desktop;
  }
}

.faq__title {
  @include title(32px, 600, 32px, $color-primary);

  text-align: center;
  text-transform: none;
  margin: 0 0 35px;

  @media (min-width: $vp-tablet) {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 45px;
  }

  @media (min-width: $vp-desktop) {
    font-size: 54px;
    line-height: 54px;
    text-align: left;
    margin: 0 0 50px;
  }
}

.faq__list {
  @include list-reset;
}

.faq__item {
  position: relative;
  padding: 21px 0 20px;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      background-color: #74819c;
    }
  }

  @media (min-width: $vp-tablet) {
    padding: 25px 0 22px;

    &:not(:last-child) {
      &::after {
        bottom: -1px;
      }
    }
  }

  @media (min-width: $vp-desktop) {
    padding: 24px 0 22px;

    &:not(:last-child) {
      &::after {
        bottom: 0;
      }
    }
  }
}

.faq__button {
  position: relative;
  padding: 8px;

  @include flex(center, center);

  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $bg-dark-secondary;
  border-radius: 50%;

  &::after,
  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 1px;
    background-color: $bg-dark-secondary;
  }

  &::before {
    transform: rotate(90deg);
  }

  @media (min-width: $vp-tablet) {
    width: 40px;
    height: 40px;

    &::after,
    &::before {
      width: 20px;
  }
  }
}


.faq__button--active {
  background-color: $bg-dark-secondary;

  &::after,
  &::before {
    background-color: $color-white;
  }

  &::before {
    transform: rotate(0deg);
  }
}

.faq__question {
  display: grid;
  align-items: center;
  grid-template-columns: 238px 30px;
  column-gap: 22px;

  h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
  }

  &:has(.faq__button--active) {
    margin-bottom: 20px;
  }

  @media (min-width: $vp-tablet) {
    grid-template-columns: 560px 40px;
    justify-content: space-between;
    margin-bottom: 0;

    h3 {
      font-size: 22px;
      line-height: 22px;
    }

    br {
      display: none;
    }

    &:has(.faq__button--active) {
      margin-bottom: 10px;
    }
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: 660px 40px;

    h3 {
      font-size: 24px;
      line-height: 24px;
    }

    &:has(.faq__button--active) {
      margin-bottom: 24px;
    }
  }
}

.faq__answer {
  width: 238px;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  opacity: 0;

  p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  &--active {
    opacity: 1;
  }

  @media (min-width: $vp-tablet) {
    width: 560px;

    p {
      font-size: 18px;
      line-height: 24px;
    }
  }

  @media (min-width: $vp-desktop) {
    width: 660px;
  }
}
