.footer {
  @include flex(flex-start, center, column);

  padding: 40px 0;
  width: 100%;
  background-color: #030a1a;

  @media (min-width: $vp-tablet) {
    padding: 45px 0;
  }

  @media (min-width: $vp-desktop) {
    padding: 40px 0;
  }
}

.footer__wrapper {
  display: grid;
  width: $container-mobile;

  @media (min-width: $vp-tablet) {
    width: $container-tablet;
    grid-template-columns: auto 1fr auto;
  }

  @media (min-width: $vp-desktop) {
    grid-template-columns: auto 600px auto;
    width: $container-desktop;
  }
}

.footer__logo {
  margin-bottom: 30px;
  width: 100px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $vp-tablet) {
    margin-bottom: 0;
    width: 110px;
    height: 22px;
  }

  @media (min-width: $vp-desktop) {
    width: 130px;
    height: 26px;
  }
}

.footer__nav {
  margin-bottom: 10px;

  @media (min-width: $vp-tablet) {
    justify-self: center;
    margin-bottom: 0;
  }
}
