.header__logo {
  width: 100px;
  height: 20px;

  svg {
    width: 100%;
    height: 100%;
  }

  @media (min-width: $vp-tablet) {
    width: 110px;
    height: 22px;
  }
}

.header__phone {
  a {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    color: $color-white;
  }

  @media (min-width:$vp-tablet) {
    a {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
