.price-card {
  @include flex(center, center, column);
  gap: 18px;
  padding: 43px 35px;
  background-color: $color-white;
  border: 7px solid transparent;
  cursor: pointer;

  &:hover {
    border-image: $color-button-gradient;
    border-image-slice: 1;

    .button--primary-blue-bg {
      color: $color-white;
      background-image: $bg-button-play;
      outline: none;
    }
  }

  @media (min-width: $vp-tablet) {
    gap: 22px;
    padding: 58px;
  }

  @media (min-width: $vp-desktop) {
    gap: 17px;
  }
}

.price-card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin: 0;

  @media (min-width: $vp-tablet) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $vp-desktop) {
    font-size: 26px;
    line-height: 26px;
  }
}

.price-card__subtitle {
  margin: 0 0 48px;

  @media (min-width: $vp-tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 60px;
  }
}

.price-card__description {
  @include flex(center, center);
  z-index: 2;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  color: $color-text-secondary;
  position: relative;
  gap: 10px;
  margin: 0;

  &::before {
    content: attr(data-price);
    position: absolute;
    top: -65px;
    left: center;
    z-index: -1;
    font-size: 100px;
    line-height: 150px;
    color: #e8e8e8;
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: relative;
    width: 24px;
    height: 33px;
    mask-image: url("/__spritemap#sprite-ruble-view");
    mask-repeat: no-repeat;
    background-color: $color-primary;
  }

  @media (min-width: $vp-tablet) {
    font-size: 60px;
    line-height: 90px;

    &::after {
      width: 30px;
      height: 42px;
    }
  }
}
